<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Stellar Classifier</title>
</head>
<body>
    <h1>Stellar Classifier</h1>
    <h2>Welcome to the Stellar Classifier! This application allows you to classify a star as a Red Dwarf, Brown Dwarf, White Dwarf, Main Sequence, SuperGiant, or HyperGiant star. Enter the data required and a <a href="https://en.wikipedia.org/wiki/Random_forest" target="_blank">Random Forest Classifier</a> will classify your star.</h2>
</body>
</html>